* {
  list-style: none;
  font-size: 12px;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.wrapper {
  margin: 0 auto;
  width: 100%;
}
/* ---------------------------------------------- */
/* 헤더                                            */
header {
  width: 1020px;
  margin: 0 auto;
}

.header__inner {
  display: flex;
  align-items: center;
  justify-content: center;

  background-color: var(--color-blue-600);
  width: 110px;
  height: 116px;
}

.button--category {
  background-color: inherit;
  border: none;
}

.button--category p {
  margin-top: 10px;
  color: white;
}
/* ---------------------------------------------- */

/* ---------------------------------------------- */
/* 내비게이션                                        */

nav {
  width: 1020px;
  margin: 0 auto;
}

i {
  margin-right: 4px;
}

.top-list {
  position: relative;
}

.arrow {
  position: absolute;
  top: 2px;
  left: 120px;

  width: 7px;
  height: 10px;
  background-image: url("../../assets/icon/more-right-active.svg");
}

.navigation__list li img {
  width: 9px;
  height: 10px;
  margin-left: 0.3rem;
}

.navigation__list {
  width: 180px;
  height: 500px;
  background-color: white;
  padding: 15px 25px;
  box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.3);
}

.navigation__list li {
  width: 170px;
  margin-bottom: 16px;
  display: flex;
  align-items: center;
}

.depth_1 {
  position: relative;
  border-left: 1px solid rgba(0, 0, 0, 0.3);
}

.depth_2,
.depth_3 {
  position: absolute;
  left: 100%;
  top: 0;
  z-index: 1;
}

.depth_1,
.depth_2,
.depth_3 {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.depth_2::after,
.depth_3::after {
  content: "";
  width: 1px;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  position: absolute;
  top: 0;
  left: -5px;
}

/* ---------------------------------------------- */

/* ---------------------------------------------- */
/* 메인 콘텐츠                                       */
/* ---------------------------------------------- */
/* 메인 콘텐츠 영역의 최소 높이 설정 */
.main {
  min-height: 52rem;
}

/* ---------------------------------------------- */
/* 푸터                                            */

footer {
  width: 100%;
  color: var(--color-gray-800);
}

.top-box {
  background-color: var(--color-gray-200);
  display: flex;
  justify-content: center;
}

.top-box-item {
  width: 1006px;
  height: 40px;

  display: flex;
  align-items: center;
  justify-content: space-around;
}

.middle-box {
  display: flex;
  justify-content: center;
  height: 207px;
  background-color: white;
  border: 1px solid blue;
}

.middle-items {
  width: 1200px;
  display: flex;
  justify-content: space-between;
  margin-top: 32px;
  margin-bottom: 32px;
}

.middle-box h1 {
  margin-top: -18px;
  color: #aaa9a9;
  font-size: 50px;
}

.middle-info {
  width: 270px;
  height: 143px;
  font-size: 16px;
}

.middle-info p {
  margin-top: 13px;
  font-size: 16px;
}

.middle-info p:nth-child(1) {
  margin-top: 0px;
}

.middle-service {
  width: 295px;
}

.middle-service b,
.middle-service p {
  font-size: 16px;
}

.service-top {
  display: flex;
  justify-content: start;
  margin-bottom: 8px;
}

.divider2 {
  margin-left: 13px;
  margin-right: 13px;
}

.service-middle h2 {
  font-size: 48px;
  margin-bottom: 12px;
}

.service-middle p {
  font-size: 16px;
  margin-bottom: 8px;
}

.middle-notice button {
  font-size: 16px;
}

.middle-notice p {
  margin-top: 8px;
  font-size: 16px;
}

.bottom-box {
  background-color: var(--color-gray-900);
  height: 102px;
  display: flex;
  justify-content: center;
  padding: 16px 0;
}

.bottom-box p {
  font-size: 12px;
  color: var(--color-gray-200);
}

.icons {
  margin-left: 50px;
  align-self: end;
}

.icons a {
  margin-right: 10px;
}

.insta img {
  background: radial-gradient(
      circle farthest-corner at 32% 106%,
      #ffe17d 0%,
      #ffcd69 10%,
      #fa9137 28%,
      #eb4141 42%,
      transparent 82%
    ),
    linear-gradient(135deg, #234bd7 12%, #c33cbe 58%);

  width: 34px;
  height: 34px;
  border-radius: 50%;
}
/* ---------------------------------------------- */
