* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: antiquewhite;
}

.container {
  background-color: skyblue;
  max-width: 768px;
  min-height: 100vh;
  margin: 0 auto;

  display: flex;
}

nav {
  background-color: orange;
  color: white;
  /* width: 120px; */
  flex-basis: 120px;
}

.box-container {
  background-color: aquamarine;
  /* width: 100%; */

  flex-grow: 1;

  display: flex;
  flex-wrap: wrap;
}

.box {
  border: 3px solid red;
  border-radius: 5px;

  /* width: 200px; */
  /* width: 50%; */
  flex-basis: 50%;
  min-height: 150px;
  flex-grow: 1;
}

.box:nth-child(2n) {
  border-color: blue;
}

footer {
  border: 3px solid green;
  background-color: greenyellow;
  min-height: 50px;

  flex-basis: 100%;
  flex-grow: 1;
}

/* Media Screen */

@media screen and (max-width: 768px) {
  .container {
    flex-direction: column;
  }
}

@media screen and (max-width: 480px) {
  .box-container {
    flex-direction: column;
  }
}
