.wrap {
  background-color: white;
  width: 80%;
  max-width: 1920px;
  margin: 0 auto;
  overflow: hidden;
}

@media screen and(max-width:767px) {
  .wrap {
    width: 90%;
  }
}

.black-bg {
  background-color: black;
  width: 100%;
  height: 1000px;
  left: 0;

  position: absolute;
  z-index: 1;
}

/* header */

header {
  position: relative;
  text-align: center;

  padding-top: 20px;
  z-index: 10;
}

header a {
  color: white;
  font-weight: bold;
}

header .gnb {
  display: grid;
  grid-template-columns: 300px 1fr 300px;
  grid-template-rows: auto auto;
  grid-template-areas:
    "logo gnb-menu menu"
    "search search search";
  color: white;
}

header .gnb img {
  width: 102px;
  height: 32px;
}

header .gnb .logo {
  grid-area: logo;
  cursor: pointer;
  display: flex;
  align-items: center;
}

header .gnb .gnb-menu {
  grid-area: gnb-menu;
  display: flex;
  align-items: center;
}

header .gnb .gnb-menu ul {
  display: flex;
  width: 50%;
  justify-content: space-evenly;
  margin: 0 auto;
}

header .gnb .gnb-menu ul li {
  position: relative;
  font-weight: bold;
  cursor: pointer;
  padding-bottom: 10px;
}

header .gnb .gnb-menu ul li:hover::before {
  content: "";
  height: 2px;
  width: 5px;
  background-color: white;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 0);
}

header .gnb .gnb-menu ul li:hover {
  color: gray;
}

header .gnb .gnb-menu ul .active:hover {
  color: white;
}

header .gnb .gnb-menu ul .active::before {
  content: "";
  height: 2px;
  width: 15px;
  background-color: white;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 0);
}

header .gnb .gnb-menu ul .active:hover::before {
  content: "";
  height: 2px;
  width: 15px;
  background-color: white;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 0);
}

header .gnb .menu {
  grid-area: menu;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 80%;
  margin-left: 20%;
}

header .gnb .search {
  grid-area: search;
  margin-top: 20px;
}

header .gnb .menu .profile {
  background-color: white;
  color: gray;
  padding: 10px 10px;
  border-radius: 30px;
  font-weight: bold;
}

header .gnb .menu .menu-hover {
  display: flex;
  align-items: center;
  padding: 10px 10px;
  border-radius: 30px;
  cursor: pointer;
}

header .gnb .menu .menu-hover:hover {
  background-color: rgba(172, 172, 172, 0.3);
}

.search {
  width: 70%;
  margin: 0 auto;
}

.search .search-ul {
  background-color: white;
  color: black;
  display: flex;
  border-radius: 50px;
}

.search-ul li {
  position: relative;
  width: 25%;
  text-align: left;
  padding: 20px 50px 20px 20px;
  font-weight: bold;
  border-radius: 50px;
}

.search-ul li::after {
  position: absolute;
  content: "";
  width: 1px;
  height: calc(100% - 40px);
  right: 0;
  top: 50%;
  transform: translate(0, -50%);
  background-color: lightgray;
}

.search-ul li:last-child::after {
  display: none;
}

.search-ul li:hover {
  background-color: lightgray;
  border-radius: 50px;
}

.search-ul li span {
  color: gray;
  font-size: 12px;
  font-weight: normal;
}

/* notice */

.notice {
  background-color: #ff385c;
  border-radius: 14px;
  text-align: center;
  height: 320px;

  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  z-index: 10;
}

.notice p {
  font-size: 1.5rem;
  color: white;
  font-weight: bold;
  line-height: 1.8rem;

  margin-bottom: 2rem;
}

.notice button {
  border: 1px solid white;
  padding: 5px 15px;
  background-color: inherit;
  color: white;
  cursor: pointer;
  border-radius: 14px;
}

/* main-banner */

.main-banner {
  height: 600px;
  border-radius: 14px;
  border: 1px solid black;
  padding-bottom: 20px;
  position: relative;
  z-index: 10;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;

  background-image: url(https://cdn.pixabay.com/photo/2016/05/02/09/45/japan-1366873_1280.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  filter: brightness(80%);
}

.main-banner .content {
  color: white;
  text-align: center;
}

.main-banner .content p {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 2rem;
}

.main-banner .content button {
  border: 1px solid white;
  padding: 10px 20px;
  font-size: 1.2rem;
  font-weight: bolder;
  border-radius: 24px;
  cursor: pointer;
}

.main-banner .content button span {
  background: linear-gradient(96deg, #6f019c 0%, #c6017e 135.12%);
  -webkit-background-clip: -webkit-text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* idea */

.city {
  display: flex;
  width: 100%;
  overflow: auto;
}

.city .card {
  width: 25%;
  margin-right: 30px;
  cursor: pointer;
}

.city .card:nth-last-child(1) {
  margin-right: 0px;
}

.city .card img {
  width: 100%;
  height: 150px;
  display: block;
  border-radius: 15px 15px 0px 0px;
}

.city .card figcaption {
  border-radius: 0px 0px 15px 15px;
  height: calc(150px - calc(24px * 2));
  padding: 24px 16px;
  color: white;
}

.city .card figcaption p {
  font-size: 2rem;
  line-height: 3rem;
  font-weight: bold;
}

.city .card figcaption span {
  font-size: 1rem;
}

@media screen and (max-width: 767px) {
  .city .card {
    margin-right: 15px;
  }

  .city .card figcaption p {
    font-size: 1.5rem;
    line-height: 2rem;
    padding-bottom: 0.5rem;
  }
}

/* express */

.express {
  display: grid;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-gap: 25px;
  grid-template-areas:
    "heading heading"
    "div1 div2";

  margin-bottom: 50px;
}

@media screen and (max-width: 576px) {
  .express {
    display: grid;
    grid-template-rows: auto auto auto;
    grid-template-columns: 1fr;
    grid-gap: 15px;
    grid-template-areas:
      "heading"
      "div1"
      "div2";
  }
}

.express .heading {
  grid-area: heading;
}

.express .photoDiv {
  height: calc(700px - calc(60px * 2));
  padding: 60px;
  border-radius: 14px;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.express .photoDiv:nth-of-type(1) {
  background-image: url(https://cdn.pixabay.com/photo/2016/02/04/16/52/men-1179452_1280.jpg);
}

.express .photoDiv:nth-of-type(2) {
  background-image: url(https://cdn.pixabay.com/photo/2018/01/01/01/57/woman-3053492_1280.jpg);
}

.express .photoDiv p {
  color: white;
  font-size: 2.5rem;
  font-weight: bold;
  line-height: 3rem;
}

.express .photoDiv button {
  color: black;
  font-weight: bold;
  border: none;
  background-color: white;
  padding: 15px 23px;
  border-radius: 7px;
  margin-top: 1rem;
  cursor: pointer;
}

.express .photoDiv button:hover {
  background-color: lightgray;
}
