<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./style.css" />
    <title>쿠팡</title>
  </head>
  <body>
    <header>
      <h1>coupang</h1>
    </header>
    <nav>
      <h4>오늘의 발견 |</h4>
      <span>오늘 쿠팡이 엄선한 가장 핫한 재료</span>
    </nav>
    <main>
      <div class="container1">
        <div class="item">
          생강차
          <div class="btn">></div>
        </div>
        <div class="item">
          바세린
          <div class="btn">></div>
        </div>
      </div>
      <div class="container2">
        <div class="item">
          핸드크림 모음
          <div class="btn">></div>
        </div>
        <div class="item">
          BIBS 빕스 아기사랑
          <div class="btn">></div>
        </div>
        <div class="item">
          한샘 수납장 모음
          <div class="btn">></div>
        </div>
        <div class="item">
          개성 왕만두
          <div class="btn">></div>
        </div>
      </div>
      <div class="container3">
        <div class="item">
          물티슈
          <div class="btn">></div>
        </div>
        <div class="item">
          페브리즈
          <div class="btn">></div>
        </div>
        <div class="item">
          다이슨
          <div class="btn">></div>
        </div>
      </div>
    </main>
  </body>
</html>
