<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="./reset.css" />
    <link rel="stylesheet" href="./instaSign.css" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css"
    />
  </head>
  <body>
    <div class="web">
      <section class="formSection">
        <div class="header">
          <img
            src="https://fontmeme.com/images/instagram-new-logo.png"
            alt="logo"
          />
          <p>
            친구들의 사진과 동영상을 보려면<br />
            가입하세요.
          </p>
          <button class="facebook">
            <i class="bi bi-facebook"></i>Facebook으로 로그인
          </button>
        </div>
        <div class="divider">
          <div>
            <hr />
          </div>
          <span>또는</span>
          <div>
            <hr />
          </div>
        </div>
        <form action="">
          <input type="text" placeholder="휴대폰 번호 또는 이메일 주소" />
          <input type="text" placeholder="성명" />
          <input type="text" placeholder="사용자 이름" />
          <input type="password" placeholder="비밀번호" />
          <input class="btn" type="submit" value="가입" />
        </form>
      </section>
    </div>
  </body>
</html>
