<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./instaFeed.css" />
    <title>Document</title>
  </head>
  <body>
    <div class="wrap">
      <div class="instagram">
        <header>
          <div class="header-left">
            <img
              src="../assets/img/chicken-8225658_640.jpg"
              width="38px"
              height="38px"
            />
            <p>웅치킨</p>
          </div>
          <div class="header-right"><p>···</p></div>
        </header>
        <div class="img">
          <img
            src="../assets/img/chicken-4110212_1920.jpg"
            width="100%"
            height="100%"
          />
        </div>
        <footer>
          <div class="top-left">
            <span>heart</span>
            <span>comment</span>
            <span>DM</span>
          </div>
          <div class="top-center">
            <ul>
              <li></li>
              <li></li>
              <li></li>
              <li></li>
            </ul>
          </div>
          <div class="top-right">
            <span>shared</span>
          </div>
          <div class="like">
            <b>100 Likes</b>
          </div>
          <div class="comment">
            <p>
              <b>Lorem</b> ipsum dolor sit amet consectetur adipisicing elit.
              Laborum adipisci error ad voluptates nemo ducimus sed? Aspernatur
              libero, sit amet at blanditiis nobis molestias, nesciunt ut ad
              fugit pariatur cum!
            </p>
          </div>
        </footer>
      </div>
    </div>
  </body>
</html>
