.box {
  width: 100%;
  border: 1rem solid red;
  background-color: black;
  color: gray;
  margin-bottom: 2rem;

  // & 연산자로 부모 고르기
  &:hover {
    background-color: white;
  }
}

// .box:hover {
//   background-color: white;
// }

// SASS 변수 : 변하는 수
// $ : 기호 + "작명" : " 저정할 내용"
$primary-color: #00498c;

.box2 {
  width: 100%;
  background-color: yellowgreen;
  border: 1rem solid $primary-color;
  color: $primary-color;
}

#test {
  color: $primary-color;
}

// SASS 내장 색 관련 함수

// darken : 어둡게
// lighten : 밝게
// saturate : 더 선명하게 (높은 채도)
// desaturate : 더 흐리게 (낮은 채도)
// adjust-hue : 명도 변경
// rgba : alpha 값 변경

$color: #d2e1dd;

.box3 {
  div {
    width: 100px;
    height: 100px;
    border: 1px solid black;
    background-color: $color;
    display: inline-block;
    margin: 10px;
    text-align: center;
    &:nth-of-type(1) {
    }
    &:nth-of-type(2) {
      background-color: darken($color, 30%);
    }
    &:nth-of-type(3) {
      background-color: lighten($color, 15%);
    }
    &:nth-of-type(4) {
      background-color: saturate($color, 20%);
    }
    &:nth-of-type(5) {
      background-color: desaturate($color, 20%);
    }
    &:nth-of-type(6) {
      background-color: adjust-hue($color, 50%);
    }
    &:nth-of-type(7) {
      background-color: rgba($color, 0.5);
    }
  }
}
